*.ipynb_checkpoint
__pycache__/
*.py[cod]
*$py.class
instance/
.ipynb_checkpoints
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
__pypackages__/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover